.board {
    font-family: "Dokdo";
}

.column-container {
    max-width: 1200px;
    min-width: 350px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */  

}

.column {
    font-size: 25px;
    text-shadow: 1px 1px gray;
    border: 5px solid tan;
    width: 100%;
    max-width: 400px;
    margin: 3px;
}

.card {
    width: 100px;
    height: auto;
    overflow: hidden;
    border: 5px solid white;
}

.card-default {
    background-color: yellow;
}

.card-description {
    font-family: "Bitter";
    font-size: 12px;
}

.card-priority {
    background-color: red;
    
}

.card-important {
    background-color: orange; 
}

.card-can-wait {
    background-color: green;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px gray;
    background-color: rgb(202, 58, 58);
    width: 80%;
    margin: 0 auto;
}
 
h2 {
    text-align: center;
    text-decoration: underline;
}

li {
    display: inline-block;
}

.column1 {
    position: absolute;
    left: 0;
    top: 80px;
}
.column2 {
    position: absolute;
    left: 25%;
    top: 80px;
}
.column3 {
    position: absolute;
    left: 50%;
    top: 80px;
}
.column4 {
    position: absolute;
    left: 75%;
    top: 80px;
}
